* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Patua One", cursive;
}

html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0;
}
html::-webkit-scrollbar-thumb {
  display: none;
}

/* HEADER*/

header {
  padding: 15px 30px;
  position: fixed;
  top: 0;
  width: 100%;
  transition: all 0.3s ease;

  z-index: 10;
}

.content_header {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.content_logo {
  width: 150px;
}

.content_logo img {
  width: 100%;
}

.content_icons {
  display: flex;
  gap: 20px;
  align-items: center;
}

#menu {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 100%;
}

.content_icons_i {
  height: 60%;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.content_icons_i img {
  height: 100%;
}

.content_icons_i a {
  height: 100%;
  display: contents;
}

.content_icons_i img:hover {
  transition: all 0.3s ease;
  transform: scale(1.2);
}

/* FIN DEL HEADER */

.scroll {
  position: relative;
  width: 100%;
  height: 100%;
}

/* PRIMER SECCION */

.first_section {
  background-image: url(../../assets/img/background-hero-normal.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  height: auto;
  overflow: hidden;
}

.first_section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: brightness(0.6);
}

.container_login {
  max-width: 1600px;
  display: flex;
  margin: 0 auto;
  width: 100%;
  padding-top: 10vw;
  position: relative;
  z-index: 2;
}

.content_box_login {
  margin: 0 auto;
  margin-bottom: 150px;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 50vw;
  padding: 0 0 20px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
}

.container_login_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
  gap: 20px;
}

.container_login_content p {
  cursor: default;
  padding: 0 20px;
  text-align: center;
}

.box_title {
  background-image: url(../../assets/img/background-three.jpg);
  background-position: center;
  background-size: cover;
  padding: 30px;
  display: flex;
  justify-content: space-between;
}

.box_title h1 {
  color: white;
  font-size: clamp(20px, 2vw, 30px);
  letter-spacing: 1px;
  filter: drop-shadow(3px 3px 3px rgb(0, 0, 0));
}

.content_img_login {
  height: 120%;
  position: relative;
}

.content_img_login img {
  height: 150%;
  position: absolute;
  right: 0;
  top: -10px;
}

.container_inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 20px;
}

.content_input {
  display: flex;
  flex-direction: column;
}

.box_input {
  width: 60%;
  margin: 0 auto;
  height: auto;
  display: flex;
  justify-content: center;
  position: relative;
}

.inp {
  border: none;
  outline: none;
  width: 100%;
  color: black;
  padding: 5px;
  font-size: medium;
}

.lbl {
  position: absolute;
  left: 0;
  bottom: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #36072d;
}

.lbl::after {
  content: "";
  display: none;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid #13b0e0a4;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}

.label_name {
  position: absolute;
  bottom: 5px;
  left: 0;
  transition: all 0.3s ease;
  color: rgb(0, 0, 0);
  transform: translateY(0);
}

.box_input .inp:focus + .lbl .label_name {
  transform: translateY(-160%);
  font-size: 10px;
  color: rgb(32, 32, 32);
}

.box_input .inp:focus + .lbl::after {
  display: block;
  transform: translateX(0%);
  transition: all 0.3s ease;
}

.register {
  color: rgb(0, 0, 59);
}

.register:hover {
  text-decoration: underline;
  cursor: pointer;
}

#showOrHide {
  display: flex;
  align-items: center;
}

#showOrHide:hover {
  filter: drop-shadow(0.5px 0.5px 0.5px rgb(0, 0, 0));
  cursor: pointer;
}

.btn_content {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.btn_submit {
  background-color: #36072d;
  color: white;
  border: none;
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.5);
  width: 30%;
  height: 30px;
  border-radius: 20px;
}

.btn_submit:hover {
  transform: translate(0px, -3px);
  box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.5);
}

.btn_submit:active {
  transform: translate(0px, 0px);
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.5);
}

/* WAVE */

.wave {
  position: absolute;
  bottom: 0;
  height: auto;
  background-image: url(../../assets/img/wave.png);
  width: 100%;
  height: 200px;
  margin-top: 60px;
  background-position: center;
  background-size: cover;
  z-index: 1;
  animation: wave 10s linear infinite;
}

@keyframes wave {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 2000px;
  }
}

/* FIN DEL WAVE */
/* FIN DE LA SECCIÓN */

/* FOOTER */

footer {
  background-color: #36072d;
  height: auto;
  position: relative;
  scroll-snap-align: start;
}

.footer_container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 5px 20px;
}

.container_footer {
  display: flex;
  flex-direction: column;
}

.content_footer {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  width: 100%;
  padding: 15px;
  flex-wrap: wrap;
  /*! min-width: 675px; */
}

.content_info_footer {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.content_info_footer p {
  color: white;
  font-size: clamp(16px, 2vw, 22px);
  transition: all 0.3s ease;
  cursor: pointer;
}

.content_info_footer p:hover {
  transition: all 0.3s ease;
  filter: drop-shadow(3px 3px 3px rgb(0, 0, 0));
}

.gh {
  height: 50%;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all 0.3s ease;
}

.gh_img {
  height: 70%;
}

.gh_img img {
  height: 100%;
  cursor: pointer;
}

.gh img:hover {
  transition: all 0.3s ease;
  filter: drop-shadow(3px 3px 3px rgb(0, 0, 0));
  transform: scale(1.1);
}

.content_img_footer {
  width: 15%;
}

.content_img_footer img {
  width: 100%;
}

.content_social_footer {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
  gap: 10px;
}

.social {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.social p {
  color: white;
  font-size: clamp(16px, 2vw, 22px);
  transition: all 0.3s ease;
  cursor: pointer;
}

.social p:hover {
  transition: all 0.3s ease;
  filter: drop-shadow(3px 3px 3px rgb(0, 0, 0));
  transform: scale(1.1);
}

.content_img_social {
  height: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gm {
  height: 40%;
}

.social img {
  height: 100%;
}

.content_copy {
  width: 100%;
  padding-top: 15px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: white;
}

/* FIN DEL FOOTER */

/* AUXILIARES */

.auxInputClass {
  transform: translateY(-150%);
  font-size: 10px;
  color: rgb(32, 32, 32);
}

.none {
  display: none;
}

.change_color {
  background-color: rgba(0, 0, 0, 0.64);
  transition: all 0.5s ease;
}

.lbl_correct {
  position: absolute;
  left: 0;
  bottom: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid #2be013a4;
}

.lbl_correct::after {
  border-bottom: none;
}

small {
  margin: 0 auto;
  width: 60%;
  padding: 3px;
  text-align: center;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease;
}

.error {
  transition: all 0.3s ease;
  color: white;
  background-color: #e01313e0;
  border-radius: 0 0 10px 10px;
}

.success {
  color: rgb(46, 128, 13);
}

.correct_login {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  padding: 20px;
  border-radius: 0 15px;
  position: absolute;
  top: 33%;
  left: calc(100vw - 60%);
  width: 200px;
  height: auto;
  background-color: rgb(46, 128, 13);
  z-index: 2;
  transition: all 0.4s ease;
}

.incorrect_login {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 0 15px;
  position: absolute;
  top: 33%;
  left: calc(100vw - 60%);
  width: 200px;
  height: auto;
  background-color: rgb(128, 13, 13);
  color: white;
  text-align: center;
  z-index: 2;
  transition: all 0.4s ease;
}

/* MEDIA QUERYS */

@media (max-width: 736px) {
  .content_info_footer {
    padding-left: 15px;
    width: 60%;
  }
  .content_img_footer {
    width: 25%;
  }
  .content_social_footer {
    padding-left: 0;
  }
  .social {
    justify-content: flex-start;
  }
  .content_box_login {
    width: 70vw;
  }
  .container_login {
    padding-top: 20vw;
  }
}

@media (max-width: 448px) {
  .content_img_footer {
    position: absolute;
    bottom: 40px;
    right: 30px;
  }

  .content_info_footer {
    width: 100%;
  }
}

@media (max-width: 390px) {
  .content_text_filter {
    width: auto;
    padding: 0 10px;
  }
  .content_img_login {
    display: none;
  }
  .box_title {
    justify-content: center;
    text-align: center;
  }

  .box_input {
    width: 80%;
  }

  .btn_submit {
    width: 50%;
  }

  .container_login {
    padding-top: 25vw;
  }
}

/*  */
